.num {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    display: block;
    font-size: 1.5em;
    line-height: 3em;
    text-align: center;
    width: 3em;
 }

 .el1{
    background-color: blue;
    order: 1;
 }

 .el2{
    background-color: orange;
 }

 .el3{
    background-color: green;
    order: 2;
 }

 .container{
    border: 3px solid black;
    display: flex; /* 1.2 */
    
    /*justify-content: space-evenly;  1.3 */
    
    /*justify-content: end;
    gap: 15px; 1.4 */
    
    /*justify-content: space-evenly;
    height: 400px; 1.5 */
    
    /*justify-content: center;
    align-items: center;
    gap: 15px;
    height: 400px; 1.6 */
    
    /*justify-content: end;
    align-items: end;
    gap: 15px;
    height: 400px; 1.7*/

    justify-content: end;
    align-items: end;
    gap: 15px;
    height: 400px; /*1.8 */ 

    /*flex-direction: column; 1.9 */

    /*flex-direction: column;
    justify-content: space-between; 1.10 */
 }